.navbar{
    background-color: white;
    height: 100px;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    font-size: 20px;
    color: grey;
    
    .name{
        color: black;
        font-weight: 600;
        letter-spacing: -2px;
        font-size: 40px;
        align-self: center;
        padding-right: 30px;
        float: right;
        width: 80%;
    }

    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: space-between;
        
 
        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            border-radius: 5px;
            padding: 3px;
            margin-right: 30px;
            

            input{
                border: none;
                outline: none;
                background: transparent;
                opacity: 0.4;
                
                
            }
        }

        .items{
            display: flex;
            align-items: center;
            

            .item{
                display: flex;
                align-items: center;
                margin: 20px;
                
            }

            .item1{
                border: 2px solid rgb(4, 60, 245);
                border-radius: 5px;
                color: white;
                padding: 3px 4px;
                font-size: 14px;
                font-weight: 300;
                background-color: rgb(20, 74, 252);
                }
            .item2{
                color: rgb(20, 74, 252);
                border: 1px solid rgba(221, 221, 221, 0.534);
                border-radius: 5px;
                padding: 3px 15px;
            }
            .item3{
                border: 1px solid rgb(202, 202, 202);
                border-radius: 50%;
                padding: 3px 7px;
                background-color: rgb(0, 173, 241);
                color: white;
                margin-right: 5px;
            }
            .item4{
                
                width: max-content;
                font-size: 14px;
                margin-left: 5px;
                margin-right: 120px;
                
            }

              
        

        
        }
    }

    

    


}